h1, h3, h4{
    color: #F8A488;
}

.container{
    background-color: #F8F5F1;
    width: 1000px;
    margin: 0 auto;
    padding-top: 30pt;
    
}

body{
    background-color: #fff;
    background-attachment: fixed;  
    font-family: sans-serif;
    color: #45526C;
}

nav{
    position: fixed;
    top:0; 
    left:0;
    width: 100%;
    height: 50px;
    text-align: center;
    background-color: #5AA897;
}

nav a{
    color: #fff;
    font-family: sans-serif;
    font-weight: bold;
    text-decoration: none;
    padding: 0 15px 0 15px;
    line-height: 50px;
}

img{
    border-radius: 10%;
}

.tablo{
    text-align: center;
    margin: auto;
}
